@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-image: url(./fundo3.jpg);
    margin: 0;
    color: #888;
}

* {
    font-family: "Poppins", sans-serif;
}



.container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.manga-info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    max-width: 400px;
}



.manga-info .info-item {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}


.manga-info .info-item:not(:last-child) {
    margin-bottom: 10px;
}

.manga-info .info-label {
    font-weight: bold;
}

.manga-info .info-value {
    font-weight: normal;
    margin-left: 20px;
}

.manga-cover {
    width: 200px;
    height: auto;
    border-radius: 5px;
}


.titulo-cap {
    display: flex;
    align-items: center;
    margin-bottom: 1%;
    gap: 1%;
    font-family: "Poppins", sans-serif;
}


.chapters {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 50vw;
}

.chapter {
    border: 2px solid #ddd; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #272129;
    border-bottom: 1px solid #343a40;
    border-radius: 20px;
    margin-top: 2%;
}

.chapter:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow:
  5px 5px rgb(183, 0, 255),
  -0.4em 0.4em rgb(183, 0, 255);
    transition: 0.3s;
    background-color: rgb(203, 199, 206);
    color: #272129;
}

.chapter img {
    width: 60px;
}

.chapter-number {
    font-weight: bold;
}

.chapter-time {
    font-size: 12px;
    color: #888;
}

.chapter-cover {
    width: 100px;
    height: auto;
    border-radius: 5px;
    margin-right: 10px;
}


.star-rating {
display: inline-block;
font-size: 2em;
}

.star-rating i {
color: #ddd;
}

.star-rating i.active {
color: #ffc107; /* Amarelo */
}

.star-rating:hover {
cursor: pointer;
}


  
  .comments {
    margin-bottom: 2rem;
    margin-top: 5%;
    display: flex;
    justify-content: center;
  }
  
  .comments ul {
    list-style: none;
    padding: 0;
  }
  
  .comments li {
    border-bottom: 1px solid #ddd;
    padding: 1rem 0;
  }
  
  #comment-form {
    display: flex;
    flex-direction: column;
    width: 45vw;
  }
  
  #comment-form textarea {
    margin-top: 1%;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid #ddd;
    border-radius: 10px;
    
  }
  
  #comment-form button {
    padding: 0.8rem 1.5rem;
    border-radius: 4px;
    background-color: #4f4253;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 10rem;
    position: relative;
    margin: auto;
	border-radius: 4px;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.3s ease-in;
    font-size: 15px;
  }

  #comment-form button:hover {
      background-color: rgb(131, 2, 182);
      transform: scale(1.1);
  }

@media(max-width:1200px){
    .chapters {
        width: 70vw;
    }

    .chapter {
        margin-top: 5%;
    }

    #comment-form{
        width: 80vw;
      }

}

@media(max-width:650px){
    .container {
        flex-direction: column;
    }

    .container img {
        position: relative;
        margin: auto;
    }

    .manga-info {
        position: relative;
        margin: auto;
    }

    .chapter {
        margin-top: 8%;
    }

    
}


