@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --color-default: rgb(67, 21, 96);
  --color-second: rgb(121, 2, 196);
  --color-white: #fff;
  --color-light: #e0e0e0;
  --cultured-2: hsl(0, 0%, 97%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  background-image: url(../images/fundo.jpg);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
}


/*-----------------------------------*\
 # ESTILO SCROLL
\*-----------------------------------*/

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-default);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(26, 0, 51);
}

/*-----------------------------------*\
 # FIM ESTILO SCROLL
\*-----------------------------------*/




/*-----------------------------------*\
 # MENU LATERAL
\*-----------------------------------*/


/*-----------------------------------*\
 # FIM MENU LATERAL
\*-----------------------------------*/



/*-----------------------------------*\
 # TELA INÍCIAL
\*-----------------------------------*/


.para-voce-box {
  width: 430px;
  height: 350px;
  margin: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px 6px #0f001d;
  border-radius: 10px;
}

.para-voce-box img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  overflow: hidden;
}

.para-voce-heading {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #dfdfdf;
  margin: 30px 30px 10px 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  box-shadow: 0 0 20px 6px #2a2424;
  opacity: 0.8;
  width: 155px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
}

.para-voce-heading i {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.cs-hidden {
  display: flex;
  overflow: visible !important;
}

.continue-lendo-heading {
  margin: 30px 30px 10px 30px;
  font-weight: 500;
  font-size: 1.4rem;
  color: #dfdfdf;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  box-shadow: 0 0 20px 6px #2a2424;
  opacity: 0.8;
  width: 200px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
}

.continue-lendo-heading i {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.continue-lendo-box {
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
  margin: 20px 10px;
  border-radius: 10px;
  overflow:hidden;
  width:200px;
  height: 250px;
  background-color: #0f001d;
}


.continue-lendo-b-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.lancamentos-heading h2 {
  margin: 30px 30px 10px 60px;
  font-weight: 500;
  font-size: 1.4rem;
  color: #dfdfdf;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
  
  width: 190px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
}

.lancamentos-box {
  min-width: 15dvw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  border-radius: 5px;
  overflow: hidden;
  border-top: 3px solid #292929;
  box-shadow: 0 0 20px 6px #3a363f;
  overflow: hidden;
}

.lancamentos-img {
  position: relative;
}

.lancamentos-img img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.lancamentos-box:hover {
  transform: translateY(-10px);
  transition: all ease 0.2s;
}

#lancamentos-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.quality {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #270053;
  color: #ffffff;
  padding: 5px 20px;
  font-weight: 500;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.4);
}



@media(max-width:570px) {
  .para-voce-heading, .continue-lendo-heading, .lancamentos-heading h2 {
    margin: auto;
    position: relative;
  }
  .para-voce-box {
    width: 200px;
  }

}

@media(max-width:440px) {

  .lancamentos-box a,
  .lancamentos-box {
    width: 100%;
  }

  .lancamentos-box {
    flex-direction: column;
  }

  .logo img {
    height: 55px;
  }
}

/*-----------------------------------*\
 # FIM DA TELA INÍCIAL
\*-----------------------------------*/


/*-----------------------------------*\
 # PERFIL DO MANGÁ
\*-----------------------------------*/

#section-obra1{
 margin-top: 20px;
}

#section-obra1 .container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  color: #ddd;
}

#section-obra1 .manga-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  max-width: 450px;
  margin-top: 10px;
}

#section-obra1 .manga-info h2 {
  margin-bottom: 10px;
}

#section-obra1 .manga-info .info-item {
  display: flex;
  justify-content: space-between;
}


#section-obra1 .manga-info .info-item:not(:last-child) {
  margin-bottom: 10px;
}

#section-obra1 .manga-info .info-label {
  font-weight: bold;
}

#section-obra1 .manga-info .info-value {
  font-weight: normal;
  margin-left: 20px;

}

#section-obra1 .manga-cover {
  width: 200px;
  height: auto;
  border-radius: 5px;
  border-top: 3px solid #292929;
  box-shadow: 0 0 20px 6px #3a363f;
}


#section-obra1 .titulo-cap {
  display: flex;
  align-items: center;
  margin-bottom: 1%;
  gap: 1%;
  font-family: "Poppins", sans-serif;
  color: #ddd;
}


#section-obra1 .chapters {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 50vw;
}

#section-obra1 .chapter {
  border: 2px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #272129;
  border-bottom: 1px solid #343a40;
  border-radius: 20px;
  margin-top: 2%;
  color: #ddd;
  font-weight: 500;
}

#section-obra1 .chapter:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow:
    5px 5px var(--color-default),
    -0.4em 0.4em var(--color-default);
  transition: 0.3s;
  background-color: rgb(203, 199, 206);
  color: #272129;
}

#section-obra1 .chapter img {
  width: 60px;
}

#section-obra1 .chapter-number {
  font-weight: bold;
}

#section-obra1 .chapter-time {
  font-size: 12px;
  color: #888;
}

#section-obra1 .chapter-cover {
  width: 100px;
  height: auto;
  border-radius: 5px;
  margin-right: 10px;
}


#section-obra1 .star-rating {
  display: inline-block;
  font-size: 2em;
}

#section-obra1 .star-rating i {
  color: #747474;
}

#section-obra1 .star-rating i.active {
  color: #ffc107;
  /* Amarelo */
}

#section-obra1 .star-rating:hover {
  cursor: pointer;
}

#section-obra1 .star-rating i {
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

#section-obra1 .star-rating i.active {
  color: gold;
  transform: scale(1.2); 
}


#section-obra1 .comments {
  margin-bottom: 2rem;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  color: #ddd;
}

#section-obra1 .comments ul {
  list-style: none;
  padding: 0;
}

#section-obra1 .comments a {
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;
}

#section-obra1 #comment-form {
  display: flex;
  flex-direction: column;
  width: 45vw;
}

#section-obra1 #comment-form textarea {
  margin-top: 1%;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: #190036;
  opacity: 0.8;
  color: var(--color-light);
}

#section-obra1 #comment-form button {
  padding: 0.8rem 1.5rem;
  border-radius: 4px;
  background-color: #4f4253;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  width: 10rem;
  position: relative;
  margin: auto;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease-in;
  font-size: 15px;
}

#section-obra1 #comment-form button:hover {
  background-color: rgb(131, 2, 182);
  transform: scale(1.1);
}

#section-obra1 .bxs-left-arrow-circle {
  position: absolute;
  margin-top: 1%;
  margin-left: 3%;
  font-size: 3rem;
  color: var(--color-default);
  cursor: pointer;
}

@media(max-width:1200px) {
  #section-obra1 .chapters {
    width: 70vw;
  }

  #section-obra1 .chapter {
    margin-top: 5%;
  }

  #section-obra1 #comment-form {
    width: 70vw;
  }

}

@media(max-width:650px) {
  #section-obra1 .container {
    flex-direction: column;
  }

  #section-obra1 .container img {
    position: relative;
    margin: auto;
  }

  #section-obra1 .manga-info {
    position: relative;
    margin: auto;
  }

  #section-obra1 .chapter {
    margin-top: 8%;
  }
}

/*-----------------------------------*\
  # FIM PERFIL DO GIBI
\*-----------------------------------*/




/*-----------------------------------*\
 # LEITURA DO MANGÁ
\*-----------------------------------*/
#section-leitura-manga #viewer {
  max-width: 600px;
  margin: auto;
  padding: 10px;
  background-color: transparent;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#section-leitura-manga img {
  max-width: 100%;
  height: 70%;
  object-fit: contain;
  display: none;
  position: relative;
  margin: auto;
}

#section-leitura-manga .controls {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
}

#section-leitura-manga .btn-troca {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90%;
  margin-top: 2%;
}

#section-leitura-manga .toggle-mode {
  background-color: var(--color-default);
  border-radius: 20%;
  color: var(--color-white);
  cursor: pointer;
  padding: 10px;
 
}

#section-leitura-manga .toggle-mode:hover {
  background-color: #7700ff;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}

#section-leitura-manga .btn-page {
  padding: 10px;
  background-color: var(--color-default);
  color: #ffffff;
  border-radius: 20px;
  cursor: pointer;
  width: 30dvw;
  margin: 15px;
}


#section-leitura-manga .button:hover {
  background-color: #4804e6;
}

#section-leitura-manga .btn-page:disabled {
  background-color: #c0c0c0;
  cursor: not-allowed;
  color: #0f001d;
}

#section-leitura-manga .bxs-binoculars {
  font-size: 25px;
  box-shadow: 0 0 20px 6px #8000ff;
  background: none;
  width: 10%;
  background: transparent;
  display: flex;
  align-items: center;
 
}

#section-leitura-manga .bxs-left-arrow-circle {
  position: fixed; /* Fixa o botão em um local na tela */
  top: 0;
  border: none; /* Remove bordas */
  border-radius: 5px; /* Bordas arredondadas */
  cursor: pointer; /* Muda o cursor para pointer */
  background-color: transparent;
  color: var(--color-default);
  font-size: 3rem;
}

#section-leitura-manga .bxs-left-arrow-circle:hover {
  transform: scale(1.1);
}


#section-leitura-manga #backToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  background: none;
  color: var(--color-default);
  border: none;
  padding: 10px 15px;
  font-size: 45px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  opacity: 0.8;
}

#section-leitura-manga #backToTopBtn:hover {
  opacity: 1;
  
}

.toggle-menu {
  position: fixed; /* Fixa o botão em um local na tela */
  top: 20px; /* Distância do topo */
  right: 20px; /* Distância da direita */
  padding: 10px 15px;
  background-color: var(--color-default); /* Cor de fundo */
  color: white; /* Cor do texto */
  border: none; /* Remove bordas */
  border-radius: 5px; /* Bordas arredondadas */
  cursor: pointer; /* Muda o cursor para pointer */
}

.toggle-menu:hover {
  background-color: #7700ff; /* Cor de fundo ao passar o mouse */
}

#section-leitura-manga .bxs-left-arrow-circle {
  position: relative;
  margin-bottom: 2%;
  font-size: 4rem;
  color: var(--color-default);
  cursor: pointer;
}

@media (max-width: 1500px) {
  #section-leitura-manga .btn-troca {
    gap: 85%;
  }
}


@media (max-width: 1000px) {
  #section-leitura-manga .btn-troca {
    gap: 80%;
  }
}

@media (max-width: 550px) {
  #section-leitura-manga .bxs-left-arrow-circle {
    margin-top: 2%;
    width: 20px;
  }

  #section-leitura-manga .btn-troca {
    gap: 70%;
  }

  
}

@media (max-width: 450px) {
  
  #section-leitura-manga .btn-page {
   font-size: 7px;
   padding: 10px;
  }
}


/*-----------------------------------*\
 # FIM LEITURA DO MANGÁ
\*-----------------------------------*/


.manutenção {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  margin-top: 15%;
  overflow: hidden;
}


/*-----------------------------------*\
 # PERFIL USUÁRIO
\*-----------------------------------*/

/* Estilo básico do header e tabs */
#section-perfil .topo-perfil {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

#section-perfil .tab {
  cursor: pointer;
  padding: 10px;
  color: #333;
  transition: color 0.3s;
}

#section-perfil .tab.active {
  border-bottom: 5px solid #744199;
}

/* Barra dinâmica que acompanha a aba ativa */
#section-perfil .topo-perfil::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 4px;
  width: 0;
  background-color: #ff6b6b;
  transition: all 0.3s ease;
}

/* Estilo das seções */
#section-perfil .content {
  display: none;
}

/* Mostrar apenas a seção ativa */
#section-perfil .content.active {
  display: block;
}

#section-perfil .main-perfil{
  display: flex;
}

#section-perfil .ler-mais{
  border: none;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
  float: right;
  }

#section-perfil .area-seguir{
  display: flex;
  justify-content: space-evenly;
}

#section-perfil .icu{
  font-size: 35px
}

#section-perfil .area-tags{
  display: flex;
  justify-content: space-evenly;
}

#section-perfil .tags{
  width: 110px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #214372;
  border-style: solid;
  border-radius: 20px;
  border-color: black;
  border-width: 1px;
}

#section-perfil .area-seguidos{
  width: 350px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
  background-color: #214372;
  border-style: solid;
  border-radius: 20px;
  border-color: black;
  border-width: 1px;
}

#section-perfil .seguir{
  width: 170px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 80px;
  background-color: #214372;
  border-style: solid;
  border-radius: 20px;
  border-color: black;
  border-width: 1px;
}

#section-perfil .info-usuario{
  position: relative;
  top: 65px;
}
#section-perfil .foto-perfil{
  width: 12vw;
  height: 12vw;
  border-radius: 5%;
  position: relative;
  top: 60px;
  margin-left: 30px;
}

#section-perfil .ppp{
  font-size: 70px;
}

#section-perfil .usuario-back {
  margin-top: 20px;
  padding-left: 80px;
  background-color: #1f3659;
  border-style: none;
  display: flex;
  gap: 7%;
  height: auto;
  width: auto;
  justify-content: space-between;
}

#section-perfil .usuario-back2 {
  background-color: #191919;
  border-style: none;
  display: flex;
  flex-direction: column;
  gap: 7%;
  height: 510px;
  width: 400px;
  float: left;
}

#section-perfil .area-biografia{
  padding: 20px;
  background-color: #214372;
}

#section-perfil .bxs-up-arrow-alt{
  position: relative;
  right: 6px;
}

#section-perfil .bxs-down-arrow-alt{
  position: relative;
  right: 23px;
  top: 9px;
}

#section-perfil .dropup-button{
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  background-color: transparent;
  float: right;
}

#section-perfil .dropup-content {
  text-align: right;
  display: none;
  position: absolute;
  background-color: black;
  min-width: 150px;
  border: 1px solid #ddd;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 2;
  border-radius: 7px;
  right: 25px;
}

#section-perfil .dropup-content li {
  padding: 10px;
  cursor: pointer;
}

#section-perfil .dropup-content li:hover {
  background-color: #f0f0f0;
  border-radius: 4px;
}

#section-perfil .show {
  display: block;
}

#section-perfil .dropb-button{
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  background-color: transparent;
  float: right;
  
}

#section-perfil .obg{
  float: right;
}

#section-perfil .dropb-content {
  text-align: right;
  display: none;
  position: absolute;
  background-color: #191919;
  min-width: 150px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 2;
  border-radius: 7px;
  right: 25px;
}

#section-perfil .oof2 {
  padding-left: 10px;
  padding-right: 10px;
}

#section-perfil .oof{
  padding-left: 32px;
  padding-right: 10px;
}

#section-perfil .dropb-content li:hover {
  background-color: #f0f0f0;
  border-radius: 4px;
}

#section-perfil .show {
  display: block;
}

#section-perfil .user_top{
  display: flex;
  gap: 15%;
}
/*-----------------------------------*\
 # FIM PERFIL USUÁRIO
\*-----------------------------------*/

/*-----------------------------------*\
 # INTERAÇÃO DAS TELAS
\*-----------------------------------*/
.content-section {
  display: none;
}

.content-section.active {
  display: block;
}

.content-section {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
.content-section.active {
  opacity: 1;
}
/*-----------------------------------*\
 # FIM INTERAÇÃO DA TELAS
\*-----------------------------------*/

/*-----------------------------------*\
 # MANDE SUA OBRA
\*-----------------------------------*/
#section-publicacao-obras {
  overflow: hidden;
}

#section-publicacao-obras .containerM2 {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#section-publicacao-obras .tela11 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 110px;
  margin-top: 55px;
}

#section-publicacao-obras  .hey {
  font-size: 20px;
  color: rgb(121, 2, 196);
}

#section-publicacao-obras .Mroxo {
  font-size: 12px;
  padding: 7px 15px;
  background-color: #7706c1;
  border-radius: 4px;
  margin: 20px 0px 40px 0px;
}


#section-publicacao-obras .Mroxo-text {
 color: white;
}

#section-publicacao-obras  .quer {
  font-size: 1.3rem;
  margin: 20px 0px 20px 0px;
}

#section-publicacao-obras  .Mtexto {
  width: 100%;
}

#section-publicacao-obras  .Mtexto p{
  font-size: 1.2rem;
  margin: 20px 0px 20px 0px;
  width: 60vw;
  text-align: justify;
  
}

/* ESTILIZAÇAO DO FORMULARIO */

#section-publicacao-obras  .containerF {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

#section-publicacao-obras .containerF2 {
  background: rgba(67, 21, 96, 0.5);
  padding: 20px;
  border-radius: 10px;
  width: 600px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  border: solid white 1px;
}

#section-publicacao-obras  .info-box h2{
  text-align: left;
  font-size: 20px;
  margin-bottom: 4px;
}

#section-publicacao-obras .containerF2 h1{
  margin-bottom: 20px;
}

#section-publicacao-obras .info-box {
  border-radius: 2px;
  border: solid white 1px;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
}

#section-publicacao-obras .input-group {
  display: flex;
  gap: 12px;
}

#section-publicacao-obras  input[type="text"], input[type="email"], input[type="tel"], textarea, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 20px;
}

#section-publicacao-obras  textarea {
  width: 100%;
  height: 100px;
  resize: none;
}

#section-publicacao-obras  .capa-upload{
  margin-bottom: 25px;
}

#section-publicacao-obras .checkbox{
  margin: 20px 0 10px 0;
}

#section-publicacao-obras .checkbox input {
  margin-right: 10px;
}

#section-publicacao-obras .gene {
  margin-bottom: 20px;
}

#section-publicacao-obras #lbCapa,#lbGene{
  margin: 25px 0 15px 0;
  font-size: 20px;
}

#section-publicacao-obras .generos-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#section-publicacao-obras .generos-group label {
  margin-right: 10px;
}

#section-publicacao-obras .btn-enviar {
  text-align: center;
  margin-top: 20px;
}

#section-publicacao-obras button[type="submit"] {
  background-color: var(--color-white);
  padding: 10px 80px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: rgb(106, 14, 255);
  font-family: 'Times New Roman', Times, serif;
}

#section-publicacao-obras button[type="submit"]:hover {
  background-color: #7d19ff;
  color: white;
}

@media(max-width: 1000px) {
  #section-publicacao-obras .Mtexto{
    width: 100vw;
    margin: 0;
  }

  #section-publicacao-obras .Mtexto p{
    font-size: 18px;
    width: 80%;
  }

  
#section-publicacao-obras .quer {
  font-size: 1rem;
}
}

@media(max-width: 650px) {
  #section-publicacao-obras  .containerF {
    margin: 0;
  }

  #section-publicacao-obras .containerF2 {
    width: 90%;
  }


}


@media(max-width: 400px) {
  #section-publicacao-obras .tela11 {
    margin: 0;
    padding: 20px;
  }

  #section-publicacao-obras .Mtexto{
    width: 90vw;
    padding: 10px;
    margin: 0;
  }

  #section-publicacao-obras .Mtexto p{
    font-size: 12px;
    width: 90%;
  }

  
#section-publicacao-obras .quer h1 {
  font-size: 15px;
  position: relative;
  margin: auto;
}

#section-publicacao-obras .Mroxo {
  font-size: 8px;
  padding: 7px 15px;
  margin: 20px 0px 40px 0px;
}

#section-publicacao-obras .capa-upload input{
  width: 55%;
}
}

/*-----------------------------------*\
 # FIM MANDE SUA OBRA
\*-----------------------------------*/

/*-----------------------------------*\
 # BIBLIOTECA
\*-----------------------------------*/


#section-biblioteca .topo-biblioteca {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

#section-biblioteca .tab2 {
  cursor: pointer;
  padding: 10px;
  color: #333;
  transition: color 0.3s;
}

#section-biblioteca .tab2.active {
  border-bottom: 5px solid #744199;
}

/* Barra dinâmica que acompanha a aba ativa */
#section-biblioteca .topo-biblioteca::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 4px;
  width: 0;
  background-color: #ff6b6b;
  transition: all 0.3s ease;
}

/* Estilo das seções */
#section-biblioteca .content2 {
  display: none;
}

/* Mostrar apenas a seção ativa */
#section-biblioteca .content2.active {
  display: block;
}

#section-biblioteca .main-biblioteca{
  display: flex;
}


#section-biblioteca .section-header-bli {
  margin-bottom: 30px;
  padding-left: 20px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  border-left: 4px solid var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}


#section-biblioteca .bxs-up-arrow-alt{
  position: relative;
  right: 6px;
}

#section-biblioteca .bxs-down-arrow-alt{
  position: relative;
  right: 23px;
  top: 9px;
}

#section-biblioteca .dropdown-button{
  
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  background-color: transparent;
  float: right;
}

#section-biblioteca .dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 150px;
  border: 1px solid #ddd;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 2;
  border-radius: 7px;
  right: 25px;

}

#section-biblioteca .dropdown-content li {
  padding: 10px;
  cursor: pointer;
}

#section-biblioteca .dropdown-content li:hover {
  background-color: #f0f0f0;
  border-radius: 4px;
}

#section-biblioteca .show {
  display: block;
}

/*-----------------------------------*\
 # FIM BIBLIOTECA
\*-----------------------------------*/